@page
@model IGNLogin.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/login/styles/index.css" rel="stylesheet" />
<div class="header">
    <span class="header_span">
        IgRok-Net user management
    </span>
</div>
<div class="content">
    <form method="post">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" type="email" name="email" />
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" name="password" />
        <button type="submit">Login</button>
        @Html.AntiForgeryToken()
    </form>
</div>
<div class="footer">
    <span class="copyright">Copyright Oleg Golovchenko</span>
    <span class="copyright"> | </span>
    <span class="copyright">contact: <a href=mailto:igrok_be@hotmail.com>igrok_be@hotmail.com</a></span>
    <span class="copyright"> | </span>
    <span class="copy_date">2020</span>
</div>

