@page
@model IGNLogin.Pages.StatisticsModel
@{
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/login/styles/index.css" rel="stylesheet" />
<label>@Model.LoggedIn / @Model.Total Users online</label>