html {
    width: auto;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    html {
        height: auto;
        overflow: auto;
        min-height: 100%;
    }
}

body {
    width: auto;
    height: 100%;
    background-color: azure;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media only screen and (max-width: 600px) {
    body {
        height: auto;
        overflow: auto;
        min-height: 100%;
    }
}

body::-webkit-scrollbar {
    display: none;
}

.header {
    display: block;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    color: white;
    background-color: cadetblue;
    margin: 0;
}

.header_span {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    top: 0;
    bottom: 0;
    left: 20px;
    display: block;
}

@media only screen and (max-width: 600px) {
    .header {
        height: 10%;
    }

    .header_span {
        margin-top: 3%;
        margin-bottom: 3%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

.content {
    display: block;
    width: 80%;
    height: 100%;
    top: 50px;
    left: 10%;
    bottom: 50px;
    position: relative;
    z-index: 0;
    background-color: white;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .content {
        top: 10%;
        bottom: 6%;
        width: 100%;
        left: 0;
        overflow: auto;
        min-height: 100%;
        height: auto;
        padding-bottom: 30%;
    }
}

.footer {
    display: block;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
    color: white;
    background-color: cadetblue;
    margin: 0;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
    .footer {
        height: 5%;
    }
}

.footer span {
    margin: auto;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 30px;
    display: inline-block;
}

.copy_date {
    float: right;
    padding: 10px;
}

.copyright {
    float: left;
    padding: 10px;
}

input {
    border-radius: 5px;
    height: 25px;
}

label {
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    height: auto;
    padding: 5px;
}

button {
    border-radius: 5px;
    height: 25px;
    background-color: cadetblue;
    color: white;
}

    button:hover {
        background-color: aquamarine;
        color: grey;
    }

.button {
    border-radius: 5px;
    height: auto;
    background-color: cadetblue;
    color: white;
    padding: 5px;
}

    .button:hover {
        background-color: aquamarine;
        color: grey;
    }

.button_header {
    margin-left: 5px;
    border-radius: 5px;
    height: auto;
    background-color: white;
    color: grey;
    padding: 5px;
    float: left;
}

    .button_header:hover {
        background-color: aquamarine;
        color: grey;
    }

@media only screen and (max-width: 600px) {
    .button_header{
        margin-top: 2px;
    }
}

.status_active {
    background-color: green;
    color: white;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: block;
}

.status_inactive {
    background-color: orangered;
    color: black;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    display: block;
}

ul {
    width: 100%;
}

li {
    display: block;
    float: left;
    width: auto;
    background-color: cadetblue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    border-radius: 15px;
}

    li p span {
        display: inline-block;
    }
